root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ij_continuation_indent_size = 4
ij_kotlin_continuation_indent_size = 4

[*.java]
ij_continuation_indent_size = 4

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off
