<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.waliot.tracker</string>
	<key>CFBundleName</key>
	<string>WALIOT.Tracker</string>
	<key>CFBundleDisplayName</key>
	<string>WALIOT.Трекер</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gps</string>
		<string>location-services</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
