name: Android CI

on:
  push:
    paths:
      - 'phoneClients/android/**'
    branches: 
      - master
  pull_request:
    paths:
      - 'phoneClients/android/**'
    branches: 
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: phoneClients/android

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew clean build

    - name: Upload debug APK
      uses: actions/upload-artifact@v4
      with:
        name: waliot-tracker-debug-apk
        path: phoneClients/android/app/build/outputs/apk/debug/app-debug.apk
